---
layout: page
title: Home
---
{%- assign items = site.data[site.metadata] -%}
{%- assign raw-dates = items | map: 'date' -%}
{% capture clean-dates %}{% for date in raw-dates %}{% if date != "" %}{% if date contains "-" %}{{date | split: "-" | first }}{% elsif date contains "/" %}{{ date | split: "/" | last }}{% else %}{{ date }}{% endif %}{% unless forloop.last %};{% endunless %}{% endif %}{%- endfor -%}{% endcapture %}
{%- assign date-range = clean-dates | split: ";" | sort  -%}
<style>
.feature {
    background-image: url('{{ "/images/ian-keefe-354195-unsplash.jpg" | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
</style>
<div class="jumbotron feature">
    <h2 class="display-4">{{ site.title }}</h2>
    <p>The Idaho Waters Digital Library provides open digital access to unique information resources relating to water issues in key Idaho river basins.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a class="card mb-3" href="{{ "/data/" | relative_url }}">
                <div class="card-body">
                    <h5 class="card-title">Documents</h5>
                    <p class="card-text">{{ items | size }} PDFs</p>
                </div>
            </a>

            <a class="card mb-3" href="{{ "/timeline/" | relative_url }}">
                <div class="card-body">
                    <h5 class="card-title">Time Span</h5>
                    <p class="card-text">{{ date-range | first }} to {{ date-range | last }}</p>
                </div>
            </a>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Top Subjects</h5>
                    {%- assign topSubjects = "Computer models; Aquifers; Water quality; Heavy metals; Groundwater; Irrigation; Mine wastes; Hydroelectric power; Hydrogeology; Groundwater flow; Water management; Water pollution; Water resources development; Water supply; Benthos; Computer simulation; Groundwater recharge; Water budget; Irrigation efficiency" | split: "; " -%}
                    <p class="card-text">
                        {% for s in topSubjects %}
                        <a class="btn btn-sm btn-info m-1" href="{{ s | uri_escape | prepend: '/browse/#' | absolute_url }}">{{ s }}</a>{% endfor %}
                    </p>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Top Series</h5>
                    <p class="card-text">
                        {%- assign series = "Water for Idaho; ESPAM; Evaluation criteria for wild and scenic rivers; Low-head dams PNW; Scenic river study; SRPAM" | split: "; " -%}
                        {% for se in series %}
                        <a class="btn btn-sm btn-secondary m-1" href="{{ se | uri_escape | prepend: '/browse/#' | absolute_url }}">{{ se }}</a>{% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">The Idaho Waters Digital Library provides open digital access to unique information resources relating to water issues in key Idaho river basins. Making up the core of the collection are more than 700 documents produced by <a href="http://www.uidaho.edu/research/entities/iwrri" target="_blank">Idaho Water Resources Research Institute</a>, digitized by University of Idaho Library. IWDL supports ongoing research and understanding of the region while preserving an era of previous work and research investment.</p>
                    <a class="btn btn-primary" href="{{ "/about/" | relative_url }}" role="button">Learn More &raquo;</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Locations</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-text text-center"><a href="{{ "/map/" | relative_url }}"><img class="img-fluid rounded" src="{{ "/images/iwdl-map.jpg" | relative_url }}" alt="IWDL map"></a></p>
                        </div>
                        <div class="col-md-4">
                            {%- assign topLocations = "Southern Idaho; Snake Plain Aquifer; Moscow; Coeur d'Alene; Snake River; Southeastern Idaho; Northern Idaho; Palouse; Boise; Salmon River; Clearwater River; Bear River; Pullman; Columbia Basalt; Spokane River" | split: "; " -%}
                            {% for l in topLocations %}<a class="btn btn-sm btn-light m-1" href="{{ l | uri_escape | prepend: '/browse/#' | absolute_url }}">{{ l }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

