<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }} | {{ page.title }}</title>
<meta http-equiv="Content-Language" content="en-us" >
{% if page.layout == "page" %}{% include page-meta.html %}{% endif %}
{% if page.layout == "document" %}{% include document-meta.html %}{% endif %}

<link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}" type="text/css">

{% include google-analytics.html %}