/* base */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $text-color;
    background: $background-color;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
main {
    background: $background-texture;
    .container {
        background: $background-color;
    }
}
/* banner */
#title {
    a { 
        font-size: 32px;
        font-weight: 300;
        color: $text-color;
    }
    p {
        font-size: 13.5px;
    }
 }
/* nav bar */
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: $text-color;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    //color: rgba(0,0,0,.7);
    text-decoration: underline;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: darken($link-color, 25%);
    text-decoration: underline;
}
nav, footer {
    background: $nav-background;
}

/** Begin Collections Pull **/
#collectionlist a{
    color:#fff;
    font-size:15px;
    width:100%;
border:none;
font-weight:100;}
#collectionlist a strong{
font-weight:300;}

#collectionlist{
  display: none;
background:#666;
color:white;
position:absolute;
top:0px;
padding:20px;
right:20px;
 cursor:auto;
    z-index:1000;
    border-radius:20px 0px 0px 20px;
    height:700px;
    overflow-y:scroll;
overflow-x:hidden;
transition: .4s;
-webkit-transition:.4s;
font-family:'oswald', helvetica;
}

#collectionlist ul{
width:100%;
list-style:none;
padding-left:20px;
  @include media-query($on-palm) {
      padding-left:0px;
          margin-left:5px;
  }

}

#collectionlist ul li{
width:100%;
padding:3px;
strong{font-size:larger;}
}

#collectionslink {
cursor: pointer;
z-index: 999;
position: absolute;
right: 0px;
top: 0px;
color: white;
font-size: 14px;
background: #999;
border-radius: 0px 0px 0px 20px;
padding: 5px 20px;
border-bottom: 1px #dadada solid;
margin:0;
font-weight:300;
}
#collectionslink p{
margin:0;}


.searchall_drop{width:200px;margin:6px -14px 0px 0px;float:right;text-align:right;}

#collectionslinkoff {
cursor: pointer;
width: auto;
float: right;
text-align: center;
color: white;
font-size: 16px;
border: 1px solid #fff;
border-radius: 10px;
-webkit-border-radius: 10px;
margin: -10px -5px 0px 0px;
padding: 2px 3px;
font-family:verdana, arial;
}
#collectionslinkoff:hover{
color:#666;
background:#fff;}

#collectionlist h4 {
font-size: 24px;
width: 160px;
margin-top: 0px;
font-weight:300;
margin-bottom: 8px;
}

.ijclist{

padding-left:0px;
}

#ijclink{
font-size:13px !important;
margin-left:20px;}

.left_select a{color:white; text-decoration:none;}
.left_select{float:left; width:15%;margin-left:4%; border:#666 1px solid; border-radius:5px; padding:10px; color:white; background: -moz-linear-gradient(top center, #999, #696969 90%) repeat scroll 0 0 #696969; background: -webkit-gradient(linear,left bottom,left top,color-stop(.1, #666),color-stop(.9, #999)); background-color: #999;
-moz-box-shadow: 2px 2px 5px #333;
  -webkit-box-shadow: 2px 2px 5px #333; box-shadow: 2px 2px 5px #333;}
  .linksnav{
width: 55%;
margin-top: 38px;
color:black;
float:left;
padding-left: 1%;
min-width:650px;}
.linksnav a{color:#999;
margin-right:3%;
font-size:22px;
font-weight:300;
}

.linksnav_links{
float:left;
margin-right:2%;
margin-bottom:10px;
width:60%;}
/** End collections pull bottom **/