---
layout: default
---
{%- assign fields = site.data.metadata-fields -%}

<div class="page-content">
    <div class="wrapper">
        <ul>
            <li><a href="{{ "/" | absolute_url }}">IWDL</a></li>
            <li><a href="{{ "/docs/" | absolute_url }}">Documents</a></li>
            <li>{{ page.title | truncatewords: 5 }}...</li>
        </ul>
            
        <div class="letter-info">
            <h2 id="letter-title">{{ page.title }}</h2>
        </div>

        <figure>
            <a href="https://digital.lib.uidaho.edu/utils/getfile/collection/idahowater/id/{{ page.cdm-number }}" class="pdf-link" target="_blank"><img src="{{ site.baseurl }}/images/thumbs/{{ page.cdm-number }}.jpg" alt="pdf thumbnail" ></a>
            <figcaption><a href="https://digital.lib.uidaho.edu/utils/getfile/collection/idahowater/id/{{ page.cdm-number }}" target="_blank" class="pdf-download" title="Document PDF - {{ page.title }}">Download PDF</a></figcaption>
        </figure>

        <div class="metadata">

                <!--"title,creator,date-original,date,description,location,lat-long,subject,collection,series,iwrri-number,resource-identifier,rights-management,publisher,contributors,contributing-institution,format,type,metadata-cataloger,date-digital,reference-url"-->
            <ul>
                {% for f in fields %}{% if page[f.field] %}<li>{{ f.display-name }}: {{ page[f.field] }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="related">
            <p>Related:</p>
            <p>subjects, series, collection links</p>
        </div>

        <div class="back-button">
            <a href="{{ site.baseurl }}/docs/">❮ Back to IWDL Documents</a>
        </div>
    </div>
</div>
