---
layout: default
---
{%- assign fields = site.data.metadata-fields -%}

<style>
    #item-image img { width: 100%;}
    .metadata { font-size: 18px; }
    .metadata p { 
        border-top: 1px solid #ddd;
        margin-top: 5px;
    }
    .field {
        font-weight: bold;
    }
    .field-value { }
</style>

<div class="py-3">
<div class="container py-3 rounded">

<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | absolute_url }}">IWDL</a></li>
        <li class="breadcrumb-item"><a href="{{ "/browse/" | absolute_url }}">Documents</a></li>
        <li class="breadcrumb-item active">{{ page.title  }}</li>
    </ul>

    <div class="">

    </div>

    <div class="row">
        <div class="col-md-4" >
            <div id="item-image">
                <!--<img src="{{ site.baseurl }}/images/thumbs/{{ page.cdm-number }}.jpg" alt="pdf thumbnail" >-->
                <img src="https://www.lib.uidaho.edu/digital/iwdl/images/sm/{{ page.resource-identifier }}-sm.jpg" alt="pdf thumbnail" class="img-thumbnail img-responsive">
            </div>
            <div id="item-link" class="text-center mt-2">
                <a href="https://digital.lib.uidaho.edu/utils/getfile/collection/idahowater/id/{{ page.cdm-number }}/filename/{{ page.resource-identifier }}.pdf" target="_blank" class="btn btn-primary" title="PDF download">Download PDF</a>
            </div>
        </div>
        <div class="col-md-8">
            <div id="item-metadata" class="metadata">

                {% for f in fields %}{% if page[f.field] %}<p><span class="field">{{ f.display-name }}:</span> <span class="field-value">{{ page[f.field] }}</span></p>{% endif %}
                {% endfor %}

            </div>
        </div> 
    </div>    

    <div class="related">
        <p>Related:</p>
        <p>subjects, series, collection links</p>
    </div>

    <div class="back-button">
        <a href="{{ site.baseurl }}/browse/">❮ Back to IWDL Documents</a>
    </div>
</div>

</div>
</div>